# --- Core API ---
fastapi
uvicorn[standard]
python-dotenv
pydantic-settings

# --- Banco de Dados ---
sqlmodel
alembic
asyncpg

# --- Autenticação ---
pwdlib[argon2]
pyjwt

# --- Testes ---
pytest
pytest-asyncio
httpx
aiosqlite

# --- EMAIL ---
fastapi-mail